body,
main {

  margin: 0;
  border: 0;
  padding: 0;
}

/*
para el encabezado
*/
header {
  --colorfondo: white;
  --colorcambio: red;
  --colorletra: black;
  --colorletrac: white;
  --colorborde: black;

  margin: 0;
  border: 0;
  padding: 5px;

  background-color: red;
  
  place-items: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left{
  margin: 2px;
  border: 0;
  padding: 0;

  place-items: center;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  margin: 0;
  border: 0;
  padding: 0;

  height: 60px;
  width: 70px;

  border-radius: 30%;
}

.boton{
  margin: 5px;
  border: 0;
  padding: 0;
  
  height: 20px;
  max-width: 100px;
}

.boton a{
  margin: 0;
  border: 0;
  padding: 10px;

  font-size: 13px;
  font-weight: bold;
  

  text-decoration: none;

  background-color: white;
  background-color: var(--colorfondo,white);

  color: black;
  color:var(--colorletra,black);

  border-color: black;
  border-color: var(--colorborde,black);

  border: 1px solid;

  border-radius: 4px;
}

.boton a:hover{
background-color: red;
background-color: var(--colorcambio);

color: white;
color: var(--colorletrac,white);
}

/*
abajo el contenido
*/
/*
para los productos
*/
.container {
  
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  
  margin: 0;
  border: 0;
  padding: 20px 0 0 5px;
  width: 185px;
  height: 185px;
  margin: 5px;
  text-align: center;
  border-radius: 10%;
  background-color: #EFE0DD;
}

.nproducto {
  margin-bottom: 0px;
}

.producto {
  border-radius: 5%;
  width: 180px;
  height: 150px;
}

.nproducto,.producto{
  
  margin: 0;
  border: 0;
  padding: 0;
}
/*
arriba el contenido
*/

.contacto {
  --colorfondo:red;
  --colorletra:black;

  background-color: red;
  background-color: var(--colorfondo,red);

  padding: 10px;
  text-align: left;

}

.contacto p {
  margin: 5px;
}

.contacto a {
  color: black;
  color:var(--color,black);

  text-decoration: none;
}

.contacto a:hover {
  text-decoration: underline;
}

.contacto img.icono {
  float: right;
  margin-left: 10px;
  width: 17px;
  height: 17px;
  border-radius: 30%;
}