body, main{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
  /*
  para el encabezado
  */

  header {
    --colorfondo: white;
    --colorcambio: red;
    --colorletra: black;
    --colorletrac: white;
    --colorborde: black;
  
    margin: 0;
    border: 0;
    padding: 0;
  
    background-color: red;
  
    display: flex;
    flex-wrap: wrap;
  }

  .titulos{
    justify-content: left;
    margin: 20px;
    font-size: 20px;
  }

  .contenido{
    justify-content: left;
    margin: 20px;
  }
  
  .right {
    flex-basis: 45%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .left {
    flex-basis: 50%;
    display: flex;
  }
  
  @media (max-width: 767px) {
  
    .left,
    .right {
      flex-basis: 100%;
    }
  }
  
  .logo img {
    padding: 0px;
    padding-left: 10px;
    height: 60px;
    width: 70px;
    border-radius: 30%;
  }
  
  .left {
    justify-content: left;
    display: flex;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .right {
    justify-content: right;
    display: flex;
    width: 100px;
    margin-top: 25px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    margin-right: auto;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    color: black;
    color: var(--colorletra);
  
    text-decoration: none;
  
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
  
    border-color: black;
    border-color: var(--colorborde);
  
    border: 1px solid;
    border-radius: 4px;
  
    background-color: white;
    background-color: var(--colorfondo);
  
    border-color: black;
    border-color: var(--colorborde);
  }
  
  nav a:hover {
  
    background-color: red;
    background-color: var(--colorcambio);
  
    color: white;
    color: var(--colorletrac);
    
    border-color: #333333;
  }
  
  .login a {
    color: black;
  
  
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
  
    border-color: black;
    border-color: var(--colorborde);
  
    border: 1px solid;
    
    border-radius: 4px;
    background-color: var(--colorfondo);
  
    border-color: black;
    border-color: var(--colorborde);
  }
  
  .login a:hover {
    background-color: var(--colorcambio);
    color: var(--colorletrac);
    border-color: #333333;
    border-color: var(--colorborde);
  }
  
  .logo {
    margin: 0 0 0 20px;
  }
  
  .align-right {
    margin-left: auto;
  }
  
  /*
  abajo el contenido
  */

  /*Pie de pagina*/
.contacto {
  background-color: blue;
  padding: 10px;
  text-align: left;

}

.contacto p {
  margin: 5px;
}

/*Direccion*/
.contacto a {
  color: white;
  text-decoration: none;
}

.contacto p{
  color: white;
  text-decoration: none;
}

.contacto a:hover {
  text-decoration: underline;
}

.contacto img.icono {
  float: right;
  margin-left: 10px;
  width: 17px;
  height: 17px;
  border-radius: 30%;
}
