body,
main {

    margin: 0;
    border: 0;
    padding: 0;
}

/*
  para el encabezado
  */
header {
    --colorfondo: white;
    --colorcambio: red;
    --colorletra: black;
    --colorletrac: white;
    --colorborde: black;

    margin: 0;
    border: 0;
    padding: 5px;

    background-color: red;

    place-items: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {
    margin: 2px;
    border: 0;
    padding: 0;

    place-items: center;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 0;
    border: 0;
    padding: 0;

    height: 60px;
    width: 70px;

    border-radius: 30%;
}

.textoe {
    margin-left: 20px;

    color: black;
    color: var(--colorletra, black);
}

.boton {
    margin: 5px;
    border: 0;
    padding: 0;

    height: 20px;
    max-width: 100px;
}

.boton a {
    margin: 0;
    border: 0;
    padding: 10px;

    font-size: 13px;
    font-weight: bold;


    text-decoration: none;

    background-color: white;
    background-color: var(--colorfondo, white);

    color: black;
    color: var(--colorletra, black);

    border-color: black;
    border-color: var(--colorborde, black);

    border: 1px solid;

    border-radius: 4px;
}

.boton a:hover {
    background-color: red;
    background-color: var(--colorcambio);

    color: white;
    color: var(--colorletrac, white);
}

/*
abajo el contenido
*/
form {
    margin: 30px 20%;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 300px;
    min-width: 200px;
}

.anidador {
    max-width: 300px;

}

/*
arriba el contenido
*/

.contacto {
    --colorfondo: red;
    --colorletra: black;

    background-color: red;
    background-color: var(--colorfondo, red);

    padding: 10px;
    text-align: left;

}

.contacto p {
    margin: 5px;
}

.contacto a {
    color: black;
    color: var(--color, black);

    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}

.contacto img.icono {
    float: right;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    border-radius: 30%;
}