*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    margin:10% 20%;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
.informacion{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    background-color: yellow;
    text-decoration: none;
}
.cwhite{
    color:white;
    text-decoration:none;
}
p{
    height: 50%;
    padding-right: 30%;
    margin-top: 10px;
    text-align: left;
}
.contactanos{
    padding-left: 30%;
    margin-top: 10px;
}
.logo{
    width: 20px;
    height: 20px;
    text-align: right;
    margin: 0px 5px;
}