body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.head{
    background-color: #ffff00;
    font-size: 12px;
    color:white;
    display:flex;
    font-size: 30px;
    width: 100%;
}
#monipan{
    margin-top: 10px;
    height: 60px;
    width: 60px;
}
#login{
    
    margin-left: 40%;
    color:white;
    text-align: right;
}
.texto{
    margin: 10px 0px;
    text-align: left;
}
form{
    margin:30px 20%;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
.informacion{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    background-color: yellow;
    text-decoration: none;
}
.cwhite{
    color:white;
    text-decoration:none;
}
#direction{
    height: 50%;
    padding-right: 30%;
    margin-top: 10px;
    text-align: left;
}
#facebook{
    border-radius: 50%;
}
.contactanos{
    padding-left: 30%;
    margin-top: 10px;
}
.logo{
    width: 20px;
    height: 20px;
    text-align: right;
    margin: 0px 5px;
}